<?php
/**
 * Created by PhpStorm.
 * User: jp.dou
 * Date: 2018/8/7
 * Time: 17:04
 */
return [
    'db' => [
        'driver'   => 'Pdo_Mysql',
        'database' => 'DATABASE',
        'username' => 'USERNAME',
        'password' => 'PASSWORD',
    ],

    'preferences' => [

    ],

    'routers' => [
        'Video\Controller\Video\Grid' => '#^videos#',
        'Video\Controller\Video\View' => '#^(video)\/([0-9]*)#',
        'Actresses' => '#^actresses#',
        'User\Controller\Subscribed\Actresses' => '#^user\/subscribed\/actresses#',
        'User/SubscribedVideos' => '#^(user)\/([0-9]*)\/subscribed_videos#',
        'User\Controller\Login' => '#^user\/login#',
    ],

    'auth_require' => [
        'Video\Controller\Video\Grid' => true,
        'Video\Controller\Video\View' => true,
        'User\Controller\Login' => false,
    ],

    'directories' => [
        'media' => '/media/'
    ],

    'templates' => [
        '404' => 'System/View/404.phtml',
        'header' => 'System/View/header.phtml',
        'footer' => 'System/View/footer.phtml',
        'pagination' => 'System/View/pagination.phtml',
        'video_grid' => 'Video/View/videos.phtml',
        'video_view' => 'Video/View/video.phtml',
        'login' => 'User/View/login.phtml'
    ],

    'users' => [
    ]
];