img {
  width: 100%;
  height: inherit;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
#header #nav {
  padding: 10px 0;
}
#header #nav li {
  font-size: 16px;
  margin: 0 10px;
  padding: 5px 10px;
  text-transform: uppercase;
  display: inline-block;
}
#header #nav li a,
#header #nav li span {
  cursor: pointer;
  color: #777;
}
#header #nav li:hover {
  color: #fff;
  border-radius: 15px;
  background-color: dodgerblue;
}
#header #nav li > ul {
  display: none;
}
#header #nav li:hover > ul {
  display: block;
  position: absolute;
  background-color: #eeeeee;
}
#header #nav li:hover > ul li {
  margin: 10px 0;
}
.pagination a {
  display: inline-block;
  min-width: 30px;
  height: 30px;
  border: solid 1px #ddd;
  border-radius: 5px;
  background-color: #eee;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  color: #000;
}
.pagination a.current {
  background-color: #fff;
}
#mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  background-color: #000;
  z-index: 100;
}
#content .toolbar {
  padding: 0 10px;
}
#content .toolbar .filter {
  float: left;
  width: 50%;
}
#content .toolbar .pagination {
  float: right;
  width: 50%;
  text-align: right;
}
#content .toolbar::after {
  display: block;
  content: '';
  clear: both;
}
#content .list {
  display: flex;
  flex-wrap: wrap;
}
#content .list .item.video-item {
  box-sizing: border-box;
  width: 25%;
  padding: 10px;
}
#content .video {
  max-width: 1200px;
  float: left;
}
#content .video h1 {
  font-weight: 500;
  font-size: 18px;
}
#content .video .detail .photo,
#content .video .detail .info {
  float: left;
  margin-right: 10px;
}
#content .video .detail .photo > div,
#content .video .detail .info > div {
  margin-bottom: 10px;
}
#content .video .detail .photo .actions a,
#content .video .detail .info .actions a {
  display: block;
}
#content .video .detail .photo .actions .like,
#content .video .detail .info .actions .like {
  cursor: pointer;
}
#content .video .detail .photo .actions .like.active,
#content .video .detail .info .actions .like.active {
  color: red;
}
#content .video .detail::after {
  content: '';
  display: block;
  clear: both;
}
#content .video .samples {
  display: flex;
  flex-wrap: wrap;
}
#content .video .samples .item {
  padding: 5px;
  width: 240px;
  max-height: 160px;
}
#content .video .samples .item img {
  width: initial;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
}
#content .video #samples-viewer {
  display: none;
  width: 100%;
  z-index: 1000;
}
#content .video #samples-viewer.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
}
#content .video #samples-viewer .img-wrap {
  width: 90vw;
  height: 100vh;
}
#content .video #samples-viewer .img-wrap img {
  max-height: 100%;
  width: initial;
  height: 100%;
  margin: 0 auto;
  display: block;
}
#content .video #samples-viewer button {
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  font-size: 30px;
  outline: none;
  color: #fff;
}
#content .video #samples-viewer button:hover {
  font-size: 40px;
}
#content .video #samples-viewer button.close {
  position: absolute;
  right: 0;
  top: 0;
}
