#header {
  #nav {


    li {
      display: inline-block;
    }
  }
}

.pagination {
  a {
    display: inline-block;
    min-width: 30px;
    height: 30px;
    border: solid 1px #ddd;
    border-radius: 5px;
    background-color: #eee;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: #000;
    &.current {
      background-color: #fff;
    }
  }
}

#content {
  .pagination {
    text-align: right;
    padding-right: 20px;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    .item.video-item {
      box-sizing: border-box;
      width: 25%;
      padding: 10px;
      img {
        width: 100%;
      }
    }
  }

  .video {
    max-width: 1000px;
    float: left;
    h1 {
      font-weight: 500;
      font-size: 18px;
    }
    .detail {
      .photo,
      .info {
        float: left;
        margin-right: 10px;
      }
    }
  }
}